body,
#root {
  height: 100vh;
  width: 100vw;
}
.main {
  display: flex;
  background-color: #ffffff;
  font-size: 14px;
}

.main-app {
  display: flex;
}

.main-map {
  overflow: hidden;
  height: 50%;
}

.sidebar {
  position: relative;
  background-color: #ffffff;
}
.sidebar-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  padding: 10px; 
}
.menu {
  text-align: center;
}
.item {
  margin: 5px;
  margin-bottom: 1rem;
}
.item span {
  line-height: 1rem;
}
.leaflet-container {
  height: 100vh;
}
.leaflet-routing-container {
  display: none;
}

@media (max-width: 1279px) {
  .sidebar{
    display: flex;
    flex-direction: row;
  }
  .sidebar-panel {
    flex: 0 0 100%;
  }
  .item {
    display: flex;
    flex-direction: column;
  }
  .item p {
    display: none;
  }
}

@media (min-width: 1280px) {
  .main-app {
    flex-direction: row;
  }
}